interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_72064348da8e66ac","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-08-18T18:05:35Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-05-01","end_date":"2026-08-16","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"aaba65611f546dac80501a1c067950d0"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '988'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: '{"cost_report_token":"rprt_72064348da8e66ac","threshold":1000,"recipient_channels":["#test-anomaly-notifications"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/anomaly_notifications
  response:
    body:
      string: '{"token":"rprt_alrt_c5b92dcf36cf6bf4","cost_report_token":"rprt_72064348da8e66ac","created_at":"2026-08-18T18:05:36Z","updated_at":"2026-08-18T18:05:36Z","threshold":1000,"user_tokens":[],"recipient_emails":[],"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"8814062d6d9aa3d1114f78c955918db6"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '987'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/anomaly_notifications/rprt_alrt_c5b92dcf36cf6bf4
  response:
    body:
      string: '{"token":"rprt_alrt_c5b92dcf36cf6bf4","cost_report_token":"rprt_72064348da8e66ac","created_at":"2026-08-18T18:05:36Z","updated_at":"2026-08-18T18:05:36Z","threshold":1000,"user_tokens":[],"recipient_emails":[],"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"b8b5739660710b053ef2cf86098f8922"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '986'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/anomaly_notifications/rprt_alrt_c5b92dcf36cf6bf4
  response:
    body:
      string: '{"errors":["Anomaly Notification rprt_alrt_c5b92dcf36cf6bf4 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '984'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_72064348da8e66ac
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '983'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_72064348da8e66ac
  response:
    body:
      string: '{"errors":["CostReport rprt_72064348da8e66ac not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1787079939'
    status:
      code: 404
      message: Not Found
version: 1
