interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_5f6c4d9f5a966663","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-09-30T23:07:18Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-06-01","end_date":"2026-09-28","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"d0e63ef77400b4a306446941704a6a4e"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '990'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 201
      message: Created
- request:
    body: '{"name":"test_budget_vcr","workspace_token":"wrkspc_576fafc861f024a4","cost_report_token":"rprt_5f6c4d9f5a966663","periods":[{"start_at":"2026-09-30","end_at":"2026-09-30","amount":10000.0}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/budgets
  response:
    body:
      string: '{"token":"bdgt_2087bacd75a819d8","name":"test_budget_vcr","type":"cost","unit":null,"workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","cost_report_token":"rprt_5f6c4d9f5a966663","created_at":"2026-09-30T23:07:19Z","budget_alert_tokens":[],"child_budget_tokens":[],"period_cadence":{"starts_at":"2026-09-30","interval_count":1,"interval_unit":"month"},"periods":[{"start_at":"2026-09-30","end_at":"2026-09-30","amount":"10000.0"}],"performance":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"a0a23c258778be43483c61690a81fb2c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '989'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budgets/bdgt_2087bacd75a819d8
  response:
    body:
      string: '{"token":"bdgt_2087bacd75a819d8","name":"test_budget_vcr","type":"cost","unit":null,"workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","cost_report_token":"rprt_5f6c4d9f5a966663","created_at":"2026-09-30T23:07:19Z","budget_alert_tokens":[],"child_budget_tokens":[],"period_cadence":{"starts_at":"2026-09-30","interval_count":1,"interval_unit":"month"},"periods":[{"start_at":"2026-09-30","end_at":"2026-09-30","amount":"10000.0"}],"performance":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6da5e569e0c3ac8d184110b8bfa48295"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '988'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budgets/bdgt_2087bacd75a819d8
  response:
    body:
      string: '{"errors":["Budget bdgt_2087bacd75a819d8 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '986'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_5f6c4d9f5a966663
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '985'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_5f6c4d9f5a966663
  response:
    body:
      string: '{"errors":["CostReport rprt_5f6c4d9f5a966663 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1790813242'
    status:
      code: 404
      message: Not Found
version: 1
