interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/workspaces/wrkspc_576fafc861f024a4
  response:
    body:
      string: '{"token":"wrkspc_576fafc861f024a4","name":"Default","created_at":"2025-11-24T20:55:56Z","enable_currency_conversion":false,"currency":"USD","exchange_rate_date":"daily_rate"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"2983d5f9883ad2f74d99d563e93162b6"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '247'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
