interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budget_alerts?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/budget_alerts?page=1","first":"https://api.vantage.sh/v2/budget_alerts?page=1","next":null,"last":null,"prev":null},"budget_alerts":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"635a262c38759f5f1c90116ee6adf655"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '324'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
