interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/anomaly_notifications?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/anomaly_notifications?page=1","first":"https://api.vantage.sh/v2/anomaly_notifications?page=1","next":null,"last":null,"prev":null},"anomaly_notifications":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"77bb4ed11222ee2c5c76efbe79a6b6d7"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '364'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
