interactions:
- request:
    body: '{"title":"test_folder_vcr","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/folders
  response:
    body:
      string: '{"token":"fldr_852bc56c7a32e110","title":"test_folder_vcr","parent_folder_token":null,"saved_filter_tokens":[],"created_at":"2026-02-08T18:30:43Z","updated_at":"2026-02-08T18:30:43Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"57aba8eb47fe9b915db76b99bc31a45c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '424'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/folders/fldr_852bc56c7a32e110
  response:
    body:
      string: '{"token":"fldr_852bc56c7a32e110","title":"test_folder_vcr","parent_folder_token":null,"saved_filter_tokens":[],"created_at":"2026-02-08T18:30:43Z","updated_at":"2026-02-08T18:30:43Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"57aba8eb47fe9b915db76b99bc31a45c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '423'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/folders/fldr_852bc56c7a32e110
  response:
    body:
      string: '{"errors":["Folder fldr_852bc56c7a32e110 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '421'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
