interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_f92ff8e1c5a24362","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2026-02-08T18:30:48Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"c3836c88b373d6fd69b7a7796221df92"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '413'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"cost_report_token":"rprt_f92ff8e1c5a24362","workspace_token":"wrkspc_576fafc861f024a4","schema":"focus"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/costs/data_exports?filter=costs.provider+%3D+%27aws%27&start_date=2024-01-01&end_date=2024-01-31&groupings=service&groupings=provider&groupings=account_id&order=desc&settings%5Binclude_credits%5D=false&settings%5Binclude_refunds%5D=false&settings%5Binclude_discounts%5D=true&settings%5Binclude_tax%5D=true&settings%5Bamortize%5D=true&settings%5Bunallocated%5D=false&settings%5Baggregate_by%5D=cost&settings%5Bshow_previous_period%5D=true
  response:
    body:
      string: '202'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.vantage.sh/v2/data_exports/dta_xprt_b99991727d9047d7
      Retry-After:
      - '60'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '100'
      X-Rate-Limit-Reset:
      - '1770575509'
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/data_exports/dta_xprt_b99991727d9047d7
  response:
    body:
      string: '202'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.vantage.sh/v2/data_exports/dta_xprt_b99991727d9047d7
      Retry-After:
      - '60'
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '412'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/data_exports/dta_xprt_b99991727d9047d7
  response:
    body:
      string: '{"token":"dta_xprt_b99991727d9047d7","status":"completed","created_at":"2026-02-08T18:30:49Z","export_type":"cost_report","manifest":{"files":["https://s3.amazonaws.com/downloads.vantage.sh/019c3e85-4f3f-770d-ba7e-637961a7e3fd/test_cost_report_vcr_2024-01-01_2024-01-31.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=ASIAZFRV7IUITEHQYCJP%2F20260208%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20260208T183121Z\u0026X-Amz-Expires=21600\u0026X-Amz-Security-Token=IQoJb3JpZ2luX2VjELL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJIMEYCIQC94KBO2YXE7Jzjm82EIXIAy%2BRlyS%2BvELUEYYB%2Bvo5LzAIhANnPqOc8OP%2FtjGSgIs7PlKby3t2O9d8PgqbY9lyBmz9xKqMCCHsQAhoMNjMwMzk5NjQ5MDQxIgzavRJgpKHPbYOTw9cqgALsw7Zfr9QFkg1Fi3MIK36d2ysv1tn%2BDbP9ZqlbbveP0uT6Mr%2Fcc%2ByyEyuvwp6%2BQV3ENNU0OIPKYmV%2BnjOcfatzx6%2BYyhEzKYqeRJ1Eesp80k%2BDr67zxQusu2kPkCOfnRIf%2BLrhrdvCv2pSFjYMAz61bMB%2FvziTK1DIMOqTp4%2BgblISAZxEX8UDvvdrjwURTCXcP2Jc1xNPX2Ccyj6AZMKyWSsAWWWrdf6gXSUUhQyvTwmWG6Gf0LQlpMSagIuwgxb0f0t7FLGg97RWw4MSyZNkfTEB7YUbN2cveWPb0%2FQbNKs4oZKqmKdDiTxeRQJ0gfSXKV4BogG0JK6qy6VbShKXMMiRo8wGOpwBlQv%2BGyIsAYMx7%2BS8pDJlkGpkFGKK%2F2xw8y%2FzxHV010wSX%2BeROwat5AN4q2tHcCgmVYDswx0PCd3MW50UGrCTpcN77DlXqLx5whHu6WOHMap4KEOoI0B7Dmg7xsWDggnjFUTDtW5JAlkeeMGdZ%2BrLWAFH%2BY8ZFmeGrqCECRxuVU%2F9thjOGDNETao2A1gxqPW3gS8dtELUH5Pqe59k\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=3a1af931f5dccae41571e365687deef22600659b678f8bc52edb1d3e72b4eedc"],"completed_at":"2026-02-08T18:31:21Z","valid_until":"2026-02-09T18:31:21Z"},"attributes":{"report_token":"rprt_f92ff8e1c5a24362","start_date":"2024-01-01","end_date":"2024-01-31","groupings":["account_id"],"vql":"costs.provider
        = ''aws''","settings":{"include_credits":false,"include_refunds":false,"include_discounts":true,"include_tax":true,"unallocated":false,"amortize":true,"show_previous_period":true,"aggregate_by":"cost"},"date_bin":null,"schema":1}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"a2e08f74d6165e0e0af98a74ad32c031"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '411'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_f92ff8e1c5a24362
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '410'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_f92ff8e1c5a24362
  response:
    body:
      string: '{"errors":["CostReport rprt_f92ff8e1c5a24362 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1770579111'
    status:
      code: 404
      message: Not Found
version: 1
