interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/folders?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/folders?page=1","first":"https://api.vantage.sh/v2/folders?page=1","next":null,"last":null,"prev":null},"folders":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"2175f811f701d624c129a8a68ebb5aa0"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '420'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
