interactions:
- request:
    body: '{"key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-07-14","collapsed_tag_keys":[{"key":"team","providers":["aws"]}],"values":[{"filter":"costs.provider
      = ''aws''","name":"Primary"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/virtual_tag_configs
  response:
    body:
      string: '{"token":"vtag_59745793610aeba5","created_by_token":"team_ef9127d498c66db2","key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-07-01","collapsed_tag_keys":[{"key":"team","providers":["aws"],"filter":null}],"values":[{"filter":"costs.provider
        = ''aws''","name":"Primary","label_transforms":[],"percentages":[],"date_ranges":[]}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"2b3dd8c10d5b7f8f0e2766e6faf861cb"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '999'
      X-Rate-Limit-Reset:
      - '1784092011'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/virtual_tag_configs?q=test_vtag_vcr
  response:
    body:
      string: '{"virtual_tag_configs":[{"token":"vtag_59745793610aeba5","created_by_token":"team_ef9127d498c66db2","key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-07-01","collapsed_tag_keys":[{"key":"team","providers":["aws"],"filter":null}],"values":[{"filter":"costs.provider
        = ''aws''","name":"Primary","label_transforms":[],"percentages":[],"date_ranges":[]}]}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"71f6e261bbb9049d6ebd8ebdb0006413"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '998'
      X-Rate-Limit-Reset:
      - '1784092011'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_59745793610aeba5
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '997'
      X-Rate-Limit-Reset:
      - '1784092011'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_59745793610aeba5
  response:
    body:
      string: '{"errors":["VirtualTagConfig vtag_59745793610aeba5 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '996'
      X-Rate-Limit-Reset:
      - '1784092011'
    status:
      code: 404
      message: Not Found
version: 1
