interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/users?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/users?page=1","first":"https://api.vantage.sh/v2/users?page=1","next":null,"last":"https://api.vantage.sh/v2/users?page=1","prev":null},"users":[{"token":"usr_3b8e93c36c581811","name":"Block
        Open Source","email":"blockopensource@gmail.com","role":"Owner","default_dashboard_token":null,"last_seen_at":"2025-11-25"}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"f25d06f5a4e978f3373b4424ed03435e"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '991'
      X-Rate-Limit-Reset:
      - '1773342605'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/users/usr_3b8e93c36c581811
  response:
    body:
      string: '{"token":"usr_3b8e93c36c581811","name":"Block Open Source","email":"blockopensource@gmail.com","role":"Owner","default_dashboard_token":null,"last_seen_at":"2025-11-25"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"7efcead6f0b62066feb211c8d4a6f709"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '990'
      X-Rate-Limit-Reset:
      - '1773342605'
    status:
      code: 200
      message: OK
version: 1
