interactions:
- request:
    body: '{"workspace_token":"wrkspc_576fafc861f024a4","title":"test_k8s_efficiency_report_vcr","date_interval":"this_month"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/kubernetes_efficiency_reports
  response:
    body:
      string: '{"token":"kbnts_eff_rprt_214fa544e8972839","title":"test_k8s_efficiency_report_vcr","default":false,"created_at":"2026-02-08T18:32:46Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"start_date":"2026-02-01","end_date":"2026-02-28","date_interval":"this_month","date_bucket":"day","aggregated_by":"idle_cost","groupings":"cluster_id","filter":null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"adacc49d507cc593be5f9058e6d1820b"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '288'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/kubernetes_efficiency_reports/kbnts_eff_rprt_214fa544e8972839
  response:
    body:
      string: '{"token":"kbnts_eff_rprt_214fa544e8972839","title":"test_k8s_efficiency_report_vcr","default":false,"created_at":"2026-02-08T18:32:46Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"start_date":"2026-02-01","end_date":"2026-02-28","date_interval":"this_month","date_bucket":"day","aggregated_by":"idle_cost","groupings":"cluster_id","filter":null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"44c4bb5c20f2e945a0c3131cee102cbe"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '287'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/kubernetes_efficiency_reports/kbnts_eff_rprt_214fa544e8972839
  response:
    body:
      string: '{"errors":["KubernetesEfficiencyReport kbnts_eff_rprt_214fa544e8972839
        not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '285'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
