interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_alerts?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/cost_alerts?page=1","first":"https://api.vantage.sh/v2/cost_alerts?page=1","next":null,"last":null,"prev":null},"cost_alerts":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"cee16c7073ab68ba43e1bddcbec9456c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '313'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
