interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_25daee8c24e46b4b","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2026-02-08T18:32:40Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"f8a85775f24eb753f4a91ba38c2c9774"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '305'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"test_dashboard_vcr","widgets":[{"widgetable_token":"rprt_25daee8c24e46b4b","title":"test_dashboard_vcr_widget","settings":{"display_type":"table"}}],"date_bin":"month","date_interval":"last_30_days","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/dashboards
  response:
    body:
      string: '{"token":"dshbrd_7c8f1a10b32b0105","title":"test_dashboard_vcr","widget_tokens":["rprt_25daee8c24e46b4b"],"widgets":[{"widgetable_token":"rprt_25daee8c24e46b4b","title":"test_dashboard_vcr_widget","settings":{"display_type":"table"}}],"saved_filter_tokens":[],"date_bin":"month","date_interval":"last_30_days","start_date":"2026-01-08","end_date":"2026-02-06","created_at":"2026-02-08T18:32:41Z","updated_at":"2026-02-08T18:32:41Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"fbb56df95d74ab5240fc3d2e45093570"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '304'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"updated_vcr_test_dashboard_vcr","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/dashboards/dshbrd_7c8f1a10b32b0105
  response:
    body:
      string: '{"token":"dshbrd_7c8f1a10b32b0105","title":"updated_vcr_test_dashboard_vcr","widget_tokens":["rprt_25daee8c24e46b4b"],"widgets":[{"widgetable_token":"rprt_25daee8c24e46b4b","title":"test_dashboard_vcr_widget","settings":{"display_type":"table"}}],"saved_filter_tokens":[],"date_bin":"month","date_interval":"last_30_days","start_date":"2026-01-08","end_date":"2026-02-06","created_at":"2026-02-08T18:32:41Z","updated_at":"2026-02-08T18:32:41Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"d15455d457466f575401e9382cd06633"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '303'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/dashboards/dshbrd_7c8f1a10b32b0105
  response:
    body:
      string: '{"errors":["Dashboard dshbrd_7c8f1a10b32b0105 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '301'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_25daee8c24e46b4b
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '300'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_25daee8c24e46b4b
  response:
    body:
      string: '{"errors":["CostReport rprt_25daee8c24e46b4b not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1770579162'
    status:
      code: 404
      message: Not Found
version: 1
