interactions:
- request:
    body: '{"workspace_token":"wrkspc_576fafc861f024a4","title":"test_resource_report_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/resource_reports
  response:
    body:
      string: '{"token":"prvdr_rsrc_rprt_ddbc028149c30265","title":"test_resource_report_vcr","filter":null,"created_at":"2026-02-08T18:33:00Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","columns":["provider","label","accrued_costs","resource","type","region","account"]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"afa13bac97928754e395daa041a2ef29"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '256'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"updated_vcr_test_resource_report_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/resource_reports/prvdr_rsrc_rprt_ddbc028149c30265
  response:
    body:
      string: '{"token":"prvdr_rsrc_rprt_ddbc028149c30265","title":"updated_vcr_test_resource_report_vcr","filter":null,"created_at":"2026-02-08T18:33:00Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","columns":["provider","label","accrued_costs","resource","type","region","account"]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"80adab8be626abae905b16ddb40786c2"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '255'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/resource_reports/prvdr_rsrc_rprt_ddbc028149c30265
  response:
    body:
      string: '{"errors":["ResourceReport prvdr_rsrc_rprt_ddbc028149c30265 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '253'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
