interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_7c46ec48d9a9994b","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-07-06T16:39:15Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-04-01","end_date":"2026-07-04","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"b374842d46a6c03ebc2813e49217035d"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '982'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"test_business_metric_vcr","cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_7c46ec48d9a9994b","label_filter":["env:prod"]}],"values":[{"date":"2026-07-06T09:39:15.347900-07:00","amount":100.0,"label":"baseline"}],"forecasted_values":[{"date":"2026-07-06T09:39:15.347928-07:00","amount":120.0,"label":"forecast"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/business_metrics
  response:
    body:
      string: '{"token":"bsnss_mtrc_7dda56623c7d06bb","title":"test_business_metric_vcr","created_by_token":null,"cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_7c46ec48d9a9994b","unit_scale":"per_unit","calculation_type":"unit_cost","label_filter":["env:prod"]}],"import_type":"csv","integration_token":"accss_crdntl_650af3f239742ae9"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"13c8210ff866be9681b5abeed0bddc96"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '981'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_7dda56623c7d06bb/values?limit=1&page=1
  response:
    body:
      string: '{"values":[{"date":"2026-07-06T16:39:15Z","amount":"100.0","label":"baseline"}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"5963171bee3b6d90977a6c1c5ee836fb"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '980'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_7dda56623c7d06bb
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '979'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_7dda56623c7d06bb
  response:
    body:
      string: '{"errors":["Business Metric bsnss_mtrc_7dda56623c7d06bb not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '978'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_7c46ec48d9a9994b
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '977'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_7c46ec48d9a9994b
  response:
    body:
      string: '{"errors":["CostReport rprt_7c46ec48d9a9994b not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1783359559'
    status:
      code: 404
      message: Not Found
version: 1
