interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_e5b8cb21d4f39de7","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2026-02-08T18:32:19Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"21ce51abdfff3ec4658cdfcc47dd0cbf"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '352'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"cost_report_token":"rprt_e5b8cb21d4f39de7","threshold":1000,"recipient_channels":["#test-anomaly-notifications"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/anomaly_notifications
  response:
    body:
      string: '{"token":"rprt_alrt_63a8d5c0bb14aeae","cost_report_token":"rprt_e5b8cb21d4f39de7","created_at":"2026-02-08T18:32:20Z","updated_at":"2026-02-08T18:32:20Z","threshold":1000,"user_tokens":[],"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"79184d0aaac747eed7579a908fcf54c6"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '351'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"threshold":3000}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/anomaly_notifications/rprt_alrt_63a8d5c0bb14aeae
  response:
    body:
      string: '{"token":"rprt_alrt_63a8d5c0bb14aeae","cost_report_token":"rprt_e5b8cb21d4f39de7","created_at":"2026-02-08T18:32:20Z","updated_at":"2026-02-08T18:32:20Z","threshold":3000,"user_tokens":[],"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"62a5d91af6afe518108e6764fadb762f"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '350'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/anomaly_notifications/rprt_alrt_63a8d5c0bb14aeae
  response:
    body:
      string: '{"errors":["Anomaly Notification rprt_alrt_63a8d5c0bb14aeae not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '347'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_e5b8cb21d4f39de7
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '346'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_e5b8cb21d4f39de7
  response:
    body:
      string: '{"errors":["CostReport rprt_e5b8cb21d4f39de7 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1770579142'
    status:
      code: 404
      message: Not Found
version: 1
