interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/cost_reports?page=1","first":"https://api.vantage.sh/v2/cost_reports?page=1","next":null,"last":"https://api.vantage.sh/v2/cost_reports?page=1","prev":null},"cost_reports":[{"token":"rprt_4b58d17e0c1eb6be","title":"test_cost_report_20251126_032245_203363","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":null,"groupings":null,"settings":{"include_credits":false,"include_refunds":false,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2025-11-26T03:22:45Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"cumulative","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}},{"token":"rprt_bd315036caf3dee2","title":"test_cost_report_20251126_034124_250625","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":null,"groupings":null,"settings":{"include_credits":false,"include_refunds":false,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2025-11-26T03:41:24Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_[...]
