interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/workspaces?page=1
  response:
    body:
      string: '{"workspaces":[{"token":"wrkspc_1f841c10eacc61a7","name":"Updated_test_workspace_20251124_145143_558109","created_at":"2025-11-24T21:51:44Z","enable_currency_conversion":true,"currency":"USD","exchange_rate_date":"daily_rate"},{"token":"wrkspc_576fafc861f024a4","name":"Default","created_at":"2025-11-24T20:55:56Z","enable_currency_conversion":false,"currency":"USD","exchange_rate_date":"daily_rate"}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"127ac12875fa2ecd74e4eff3c11a177f"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '248'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
