interactions:
- request:
    body: '{"key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-08-18","collapsed_tag_keys":[{"key":"team","providers":["aws"]}],"values":[{"filter":"costs.provider
      = ''aws''","name":"Primary"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/virtual_tag_configs
  response:
    body:
      string: '{"token":"vtag_d2f6741c6405a8ea","created_by_token":"team_ef9127d498c66db2","key":"test_vtag_vcr","hidden":false,"preferred":false,"overridable":false,"backfill_until":"2026-08-01","collapsed_tag_keys":[{"key":"team","providers":["aws"],"filter":null}],"values":[{"token":"vtag_val_b707c91b335d1f56","filter":"costs.provider
        = ''aws''","name":"Primary","label_transforms":[],"percentages":[],"date_ranges":[]}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"2aceb2bb24ff85370234d9b1a6d801ab"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '992'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/virtual_tag_configs?q=test_vtag_vcr
  response:
    body:
      string: '{"virtual_tag_configs":[{"token":"vtag_d2f6741c6405a8ea","created_by_token":"team_ef9127d498c66db2","key":"test_vtag_vcr","hidden":false,"preferred":false,"overridable":false,"backfill_until":"2026-08-01","collapsed_tag_keys":[{"key":"team","providers":["aws"],"filter":null}],"values":[{"token":"vtag_val_b707c91b335d1f56","filter":"costs.provider
        = ''aws''","name":"Primary","label_transforms":[],"percentages":[],"date_ranges":[]}]}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"20931b38f7995440cf96fb11589047ef"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '991'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_d2f6741c6405a8ea
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '990'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_d2f6741c6405a8ea
  response:
    body:
      string: '{"errors":["VirtualTagConfig vtag_d2f6741c6405a8ea not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '989'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 404
      message: Not Found
version: 1
