interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/me
  response:
    body:
      string: '{"default_workspace_token":null,"default_dashboard_token":null,"workspaces":[{"token":"wrkspc_1f841c10eacc61a7","name":"Updated_test_workspace_20251124_145143_558109","created_at":"2025-11-24T21:51:44Z","enable_currency_conversion":true,"currency":"USD","exchange_rate_date":"daily_rate"},{"token":"wrkspc_576fafc861f024a4","name":"Default","created_at":"2025-11-24T20:55:56Z","enable_currency_conversion":false,"currency":"USD","exchange_rate_date":"daily_rate"}],"bearer_token":{"description":"vantage_sdk","created_at":"2025-11-24T20:58:49Z","scope":["read","write"]},"is_account_owner":true}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"bd91932e46e3e19e21b5e5a426790fc9"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '997'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 200
      message: OK
version: 1
