interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_597aae522c6e82fd","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2026-02-08T18:32:32Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6ed6efd4988e57a887cd1c7a8fedca8d"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '323'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"name":"test_budget_vcr","workspace_token":"wrkspc_576fafc861f024a4","cost_report_token":"rprt_597aae522c6e82fd","periods":[{"start_at":"2026-02-08","end_at":"2026-02-08","amount":10000.0}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/budgets
  response:
    body:
      string: '{"token":"bdgt_4e341aada4c629a5","name":"test_budget_vcr","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","cost_report_token":"rprt_597aae522c6e82fd","created_at":"2026-02-08T18:32:33Z","budget_alert_tokens":[],"child_budget_tokens":[],"periods":[{"start_at":"2026-02-01","end_at":"2026-02-28","amount":"10000.0"}],"performance":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"5757facae78f3be06381152c70c7ec7f"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '322'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/users?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/users?page=1","first":"https://api.vantage.sh/v2/users?page=1","next":null,"last":"https://api.vantage.sh/v2/users?page=1","prev":null},"users":[{"token":"usr_3b8e93c36c581811","name":"Block
        Open Source","email":"blockopensource@gmail.com","role":"Owner","last_seen_at":"2025-11-25"}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"45831f54595cd60285645990db0d6deb"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '321'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
- request:
    body: '{"budget_tokens":["bdgt_4e341aada4c629a5"],"threshold":50,"user_tokens":["usr_3b8e93c36c581811"],"duration_in_days":"30","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/budget_alerts
  response:
    body:
      string: '{"token":"bdgt_alrt_2613b967cd557d60","budget_tokens":["bdgt_4e341aada4c629a5"],"created_at":"2026-02-08T18:32:34Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":"team_ef9127d498c66db2","user_tokens":["usr_3b8e93c36c581811"],"duration_in_days":30,"threshold":50,"period_to_track":"start_of_the_month","integration_provider":null,"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"569d1f0dcb85bffc80220f2aae855f5e"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '320'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budget_alerts/bdgt_alrt_2613b967cd557d60
  response:
    body:
      string: '{"token":"bdgt_alrt_2613b967cd557d60","budget_tokens":["bdgt_4e341aada4c629a5"],"created_at":"2026-02-08T18:32:34Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":"team_ef9127d498c66db2","user_tokens":["usr_3b8e93c36c581811"],"duration_in_days":30,"threshold":50,"period_to_track":"start_of_the_month","integration_provider":null,"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"569d1f0dcb85bffc80220f2aae855f5e"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '319'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budget_alerts/bdgt_alrt_2613b967cd557d60
  response:
    body:
      string: '{"errors":["Budget Alert bdgt_alrt_2613b967cd557d60 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '317'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/budgets/bdgt_4e341aada4c629a5
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '316'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_597aae522c6e82fd
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '314'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_597aae522c6e82fd
  response:
    body:
      string: '{"errors":["CostReport rprt_597aae522c6e82fd not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1770579156'
    status:
      code: 404
      message: Not Found
version: 1
