interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/products?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/products?page=1","first":"https://api.vantage.sh/v2/products?page=1","next":null,"last":"https://api.vantage.sh/v2/products?page=1","prev":null},"products":[{"id":"aws-ec2-u-12tb1_112xlarge","category":"compute","name":"u-12tb1.112xlarge","service_id":"aws-ec2","provider_id":"aws","details":{}},{"id":"aws-ec2-u-6tb1_112xlarge","category":"compute","name":"u-6tb1.112xlarge","service_id":"aws-ec2","provider_id":"aws","details":{}},{"id":"aws-ec2-inf1_xlarge","category":"compute","name":"inf1.xlarge","service_id":"aws-ec2","provider_id":"aws","details":{"gpu":0,"name":"INF1
        Extra Large","vcpu":4,"memory":8.0,"storage":null,"clock_speed_ghz":null,"physical_processor_description":"Intel
        Xeon Platinum 8275CL (Cascade Lake)","network_performance_description":"Up
        to 25 Gigabit"}},{"id":"aws-ec2-a1_metal","category":"compute","name":"a1.metal","service_id":"aws-ec2","provider_id":"aws","details":{"gpu":0,"name":"A1
        Metal","vcpu":16,"memory":32.0,"storage":null,"clock_speed_ghz":2.3,"physical_processor_description":"AWS
        Graviton Processor","network_performance_description":"Up to 10 Gigabit"}},{"id":"aws-ec2-r5_metal","category":"compute","name":"r5.metal","service_id":"aws-ec2","provider_id":"aws","details":{"gpu":0,"name":"R5
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/products/aws-ec2-u-12tb1_112xlarge/prices?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/products/aws-ec2-u-12tb1_112xlarge/prices?page=1","first":"https://api.vantage.sh/v2/products/aws-ec2-u-12tb1_112xlarge/prices?page=1","next":null,"last":"https://api.vantage.sh/v2/products/aws-ec2-u-12tb1_112xlarge/prices?page=1","prev":null},"prices":[{"id":"aws-ec2-u-12tb1_112xlarge-us_east_1-on_demand-linux","unit":"hour","region":"us-east-1","rate_type":"compute","currency":"USD","amount":109.2,"details":{"platform":"linux","lifecycle":"on-demand"}},{"id":"aws-ec2-u-12tb1_112xlarge-us_east_1-on_demand-rhel","unit":"hour","region":"us-east-1","rate_type":"compute","currency":"USD","amount":109.33,"details":{"platform":"rhel","lifecycle":"on-demand"}},{"id":"aws-ec2-u-12tb1_112xlarge-us_east_1-on_demand-suse","unit":"hour","region":"us-east-1","rate_type":"compute","currency":"USD","amount":109.325,"details":{"platform":"suse","lifecycle":"on-demand"}},{"id":"aws-ec2-u-12tb1_112xlarge-us_east_1-on_demand-windows","unit":"hour","[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/products/aws-ec2-u-12tb1_112xlarge/prices/aws-ec2-u-12tb1_112xlarge-us_east_1-on_demand-linux
  response:
    body:
      string: '{"id":"aws-ec2-u-12tb1_112xlarge-us_east_1-on_demand-linux","unit":"hour","region":"us-east-1","rate_type":"compute","currency":"USD","amount":109.2,"details":{"platform":"linux","lifecycle":"on-demand"}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"394dbbcf362cb426c2068557f6f1b127"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '264'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
