interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_67d9898382edad67","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-08-18T18:05:43Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-05-01","end_date":"2026-08-16","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"234e29f90527161455241d81878b60d6"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '977'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: '{"cost_report_token":"rprt_67d9898382edad67","threshold":1000,"recipient_channels":["#test-anomaly-notifications"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/anomaly_notifications
  response:
    body:
      string: '{"token":"rprt_alrt_d17af1048db1835a","cost_report_token":"rprt_67d9898382edad67","created_at":"2026-08-18T18:05:43Z","updated_at":"2026-08-18T18:05:43Z","threshold":1000,"user_tokens":[],"recipient_emails":[],"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"2052dea4dd81fe5f8b9729e60b54bcd4"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '976'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: '{"threshold":3000}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/anomaly_notifications/rprt_alrt_d17af1048db1835a
  response:
    body:
      string: '{"token":"rprt_alrt_d17af1048db1835a","cost_report_token":"rprt_67d9898382edad67","created_at":"2026-08-18T18:05:43Z","updated_at":"2026-08-18T18:05:44Z","threshold":3000,"user_tokens":[],"recipient_emails":[],"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"8a1cf35510c603d2f932267819b191ec"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '975'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/anomaly_notifications/rprt_alrt_d17af1048db1835a
  response:
    body:
      string: '{"errors":["Anomaly Notification rprt_alrt_d17af1048db1835a not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '972'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_67d9898382edad67
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '971'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_67d9898382edad67
  response:
    body:
      string: '{"errors":["CostReport rprt_67d9898382edad67 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1787079946'
    status:
      code: 404
      message: Not Found
version: 1
