interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budgets?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/budgets?page=1","first":"https://api.vantage.sh/v2/budgets?page=1","next":null,"last":null,"prev":null},"budgets":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"9deee037f7e1f9142c7ab2342fb14e58"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '343'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
