interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/financial_commitment_reports?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/financial_commitment_reports?page=1","first":"https://api.vantage.sh/v2/financial_commitment_reports?page=1","next":null,"last":null,"prev":null},"financial_commitment_reports":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"16109812c6dfb86bf5f3d5d71875f9f2"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
