interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_9517584873763769","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2026-02-08T18:32:01Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"90881edbc73b18e44896d40b662f8688"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '389'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"test_business_metric_vcr","cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_9517584873763769","label_filter":["env:prod"]}],"values":[{"date":"2026-02-08T11:32:01.777146-07:00","amount":100.0,"label":"baseline"}],"forecasted_values":[{"date":"2026-02-08T11:32:01.777172-07:00","amount":120.0,"label":"forecast"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/business_metrics
  response:
    body:
      string: '{"token":"bsnss_mtrc_63d37c9c89f8be5b","title":"test_business_metric_vcr","created_by_token":null,"cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_9517584873763769","unit_scale":"per_unit","label_filter":["env:prod"]}],"import_type":null,"integration_token":""}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"edf82980116edf16e58453a94e9836f3"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '388'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics?page=1
  response:
    body:
      string: '{"business_metrics":[{"token":"bsnss_mtrc_13f83c19918b9990","title":"ResourcePrefix.BUSINESS_METRIC_20260206_165850_795231","created_by_token":null,"cost_report_tokens_with_metadata":[],"import_type":null,"integration_token":""},{"token":"bsnss_mtrc_63d37c9c89f8be5b","title":"test_business_metric_vcr","created_by_token":null,"cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_9517584873763769","unit_scale":"per_unit","label_filter":["env:prod"]}],"import_type":null,"integration_token":""},{"token":"bsnss_mtrc_60ebe7d4f147106e","title":"ResourcePrefix.BUSINESS_METRIC_20260206_165852_077099","created_by_token":null,"cost_report_tokens_with_metadata":[],"import_type":null,"integration_token":""},{"token":"bsnss_mtrc_9d7b46b4adc61a89","title":"ResourcePrefix.BUSINESS_METRIC_20260206_165853_577994","created_by_token":null,"cost_report_tokens_with_metadata":[],"import_type":null,"integration_token":""},{"token":"bsnss_mtrc_d62ac3ad92dd6148","title":"ResourcePrefix.BUSINESS_METRIC_20260206_165849_507810","created_by_token":null,"cost_report_tokens_with_metadata":[],"import_type":null,"integration_token":""}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"dcb6312c2a82d1413650e802e6ff7137"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '387'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_63d37c9c89f8be5b
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '386'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_63d37c9c89f8be5b
  response:
    body:
      string: '{"errors":["Business Metric bsnss_mtrc_63d37c9c89f8be5b not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '385'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_9517584873763769
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '384'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_9517584873763769
  response:
    body:
      string: '{"errors":["CostReport rprt_9517584873763769 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1770579124'
    status:
      code: 404
      message: Not Found
version: 1
