interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/folders?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/folders?page=1","first":"https://api.vantage.sh/v2/folders?page=1","next":null,"last":null,"prev":null},"folders":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"a5171562471f39a220b0eaccc183af77"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '996'
      X-Rate-Limit-Reset:
      - '1774374970'
    status:
      code: 200
      message: OK
version: 1
