interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_a3b0a52c72cf7c2d","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-08-18T18:05:47Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-05-01","end_date":"2026-08-16","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"863f341bcb1b39f9c30fd836abbbcfd8"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '970'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: '{"name":"test_budget_vcr","workspace_token":"wrkspc_576fafc861f024a4","cost_report_token":"rprt_a3b0a52c72cf7c2d","periods":[{"start_at":"2026-08-18","end_at":"2026-08-18","amount":10000.0}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/budgets
  response:
    body:
      string: '{"token":"bdgt_299978e32c94b24b","name":"test_budget_vcr","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","cost_report_token":"rprt_a3b0a52c72cf7c2d","created_at":"2026-08-18T18:05:47Z","budget_alert_tokens":[],"child_budget_tokens":[],"periods":[{"start_at":"2026-08-18","end_at":"2026-08-18","amount":"10000.0"}],"performance":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"1c68f2b2233c4dcaaafef3a6aff2e257"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '969'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/users?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/users?page=1","first":"https://api.vantage.sh/v2/users?page=1","next":null,"last":"https://api.vantage.sh/v2/users?page=1","prev":null},"users":[{"token":"usr_3b8e93c36c581811","name":"Block
        Open Source","email":"blockopensource@gmail.com","role":"Owner","default_dashboard_token":null,"last_seen_at":"2025-11-25"}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"7a5443350834881deb5208f770e9b609"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '968'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 200
      message: OK
- request:
    body: '{"budget_tokens":["bdgt_299978e32c94b24b"],"threshold":50,"user_tokens":["usr_3b8e93c36c581811"],"duration_in_days":"30","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/budget_alerts
  response:
    body:
      string: '{"token":"bdgt_alrt_fd2aba0f1f06a552","budget_tokens":["bdgt_299978e32c94b24b"],"created_at":"2026-08-18T18:05:48Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":"team_ef9127d498c66db2","user_tokens":["usr_3b8e93c36c581811"],"recipient_emails":["blockopensource@gmail.com"],"duration_in_days":30,"threshold":50,"period_to_track":"start_of_the_month","integration_provider":null,"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"f26e02f28045c4ee12218803da00c31b"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '967'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budget_alerts/bdgt_alrt_fd2aba0f1f06a552
  response:
    body:
      string: '{"token":"bdgt_alrt_fd2aba0f1f06a552","budget_tokens":["bdgt_299978e32c94b24b"],"created_at":"2026-08-18T18:05:48Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":"team_ef9127d498c66db2","user_tokens":["usr_3b8e93c36c581811"],"recipient_emails":["blockopensource@gmail.com"],"duration_in_days":30,"threshold":50,"period_to_track":"start_of_the_month","integration_provider":null,"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"f26e02f28045c4ee12218803da00c31b"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '966'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budget_alerts/bdgt_alrt_fd2aba0f1f06a552
  response:
    body:
      string: '{"errors":["Budget Alert bdgt_alrt_fd2aba0f1f06a552 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '964'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/budgets/bdgt_299978e32c94b24b
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '963'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_a3b0a52c72cf7c2d
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '961'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_a3b0a52c72cf7c2d
  response:
    body:
      string: '{"errors":["CostReport rprt_a3b0a52c72cf7c2d not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1787079952'
    status:
      code: 404
      message: Not Found
version: 1
