interactions:
- request:
    body: '{"workspace_token":"wrkspc_576fafc861f024a4","title":"test_fin_commitment_report_vcr","date_interval":"last_3_months"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/financial_commitment_reports
  response:
    body:
      string: '{"token":"fncl_cmnt_rprt_5ee9e513a21ce87e","title":"test_fin_commitment_report_vcr","default":false,"created_at":"2026-02-08T18:32:45Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","date_bucket":"month","groupings":"cost_type","on_demand_costs_scope":"discountable","filter":"(financial_commitments.provider
        = ''aws'')"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"0b8eb785e34d3636f39ebc289e009b7f"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '293'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"updated_vcr_test_fin_commitment_report_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/financial_commitment_reports/fncl_cmnt_rprt_5ee9e513a21ce87e
  response:
    body:
      string: '{"token":"fncl_cmnt_rprt_5ee9e513a21ce87e","title":"updated_vcr_test_fin_commitment_report_vcr","default":false,"created_at":"2026-02-08T18:32:45Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","date_bucket":"month","groupings":"cost_type","on_demand_costs_scope":"discountable","filter":"(financial_commitments.provider
        = ''aws'')"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"0e909817138dcf8884f96805c81772ea"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '292'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/financial_commitment_reports/fncl_cmnt_rprt_5ee9e513a21ce87e
  response:
    body:
      string: '{"errors":["FinancialCommitmentReport fncl_cmnt_rprt_5ee9e513a21ce87e
        not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '290'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
