interactions:
- request:
    body: '{"key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-08-18","collapsed_tag_keys":[{"key":"team","providers":["aws"]}],"values":[{"filter":"costs.provider
      = ''aws''","name":"Primary"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/virtual_tag_configs
  response:
    body:
      string: '{"token":"vtag_2054620975c42e7e","created_by_token":"team_ef9127d498c66db2","key":"test_vtag_vcr","hidden":false,"preferred":false,"overridable":false,"backfill_until":"2026-08-01","collapsed_tag_keys":[{"key":"team","providers":["aws"],"filter":null}],"values":[{"token":"vtag_val_7e74d5f2033a2858","filter":"costs.provider
        = ''aws''","name":"Primary","label_transforms":[],"percentages":[],"date_ranges":[]}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"d2e86eb43bd5939d5334b076e428f1fb"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '996'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 201
      message: Created
- request:
    body: '{"key":"updated_vcr_test_vtag_vcr","values":[{"filter":"costs.provider
      = ''aws'' AND costs.service = ''Amazon Simple Storage Service''","name":"updated_vcr_virtual_tag_value"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_2054620975c42e7e
  response:
    body:
      string: '{"token":"vtag_2054620975c42e7e","created_by_token":"team_ef9127d498c66db2","key":"updated_vcr_test_vtag_vcr","hidden":false,"preferred":false,"overridable":false,"backfill_until":"2026-08-01","collapsed_tag_keys":[{"key":"team","providers":["aws"],"filter":null}],"values":[{"token":"vtag_val_f0b527319937f835","filter":"costs.provider
        = ''aws'' AND costs.service = ''Amazon Simple Storage Service''","name":"updated_vcr_virtual_tag_value","label_transforms":[],"percentages":[],"date_ranges":[]}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"26a95ed181dff1dce349d82637a8aa98"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '995'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_2054620975c42e7e
  response:
    body:
      string: '{"errors":["VirtualTagConfig vtag_2054620975c42e7e not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '993'
      X-Rate-Limit-Reset:
      - '1787079927'
    status:
      code: 404
      message: Not Found
version: 1
