interactions:
- request:
    body: '{"key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-02-08","collapsed_tag_keys":[{"key":"team","providers":["aws"]}],"values":[{"filter":"costs.provider
      = ''aws''","name":"Primary"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/virtual_tag_configs
  response:
    body:
      string: '{"token":"vtag_233a17dace2330ca","created_by_token":"team_ef9127d498c66db2","key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-02-01","collapsed_tag_keys":[{"key":"team","providers":["aws"]}],"values":[{"filter":"costs.provider
        = ''aws''","name":"Primary"}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"25c292311fce7a069fbdeedad511dc9b"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '401'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_233a17dace2330ca
  response:
    body:
      string: '{"token":"vtag_233a17dace2330ca","created_by_token":"team_ef9127d498c66db2","key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-02-01","collapsed_tag_keys":[{"key":"team","providers":["aws"]}],"values":[{"filter":"costs.provider
        = ''aws''","name":"Primary"}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"fae6428c7a34dbdaf888c0163f9b49c4"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '400'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_233a17dace2330ca
  response:
    body:
      string: '{"errors":["VirtualTagConfig vtag_233a17dace2330ca not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '398'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
