interactions:
- request:
    body: '{"workspace_token":"wrkspc_576fafc861f024a4","title":"test_network_flow_report_vcr","date_interval":"last_7_days","groupings":["region"],"flow_direction":"ingress","flow_weight":"costs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/network_flow_reports
  response:
    body:
      string: '{"token":"ntflw_lg_rprt_23e4ee673f86d4b7","title":"test_network_flow_report_vcr","default":false,"created_at":"2026-02-08T18:32:50Z","workspace_token":"wrkspc_576fafc861f024a4","created_by_token":"team_ef9127d498c66db2","start_date":"2026-02-01","end_date":"2026-02-07","date_interval":"last_7_days","groupings":"region","flow_direction":null,"flow_weight":"costs","filter":null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"08d887c5733b46d89d697302ecb366b9"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '279'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/network_flow_reports/ntflw_lg_rprt_23e4ee673f86d4b7
  response:
    body:
      string: '{"token":"ntflw_lg_rprt_23e4ee673f86d4b7","title":"test_network_flow_report_vcr","default":false,"created_at":"2026-02-08T18:32:50Z","workspace_token":"wrkspc_576fafc861f024a4","created_by_token":"team_ef9127d498c66db2","start_date":"2026-02-01","end_date":"2026-02-07","date_interval":"last_7_days","groupings":"region","flow_direction":null,"flow_weight":"costs","filter":null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"08d887c5733b46d89d697302ecb366b9"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '278'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/network_flow_reports/ntflw_lg_rprt_23e4ee673f86d4b7
  response:
    body:
      string: '{"errors":["NetworkFlowReport ntflw_lg_rprt_23e4ee673f86d4b7 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '276'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
