interactions:
- request:
    body: '{"title":"test_filter_vcr","workspace_token":"wrkspc_576fafc861f024a4","filter":"costs.provider
      = ''aws''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/saved_filters
  response:
    body:
      string: '{"token":"svd_fltr_16da937bc6e0cdb8","title":"test_filter_vcr","cost_report_tokens":[],"filter":"costs.provider
        = ''aws''","created_at":"2026-02-08T18:31:53Z","created_by":"team_ef9127d498c66db2","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6a79b0eb66509a3b1ba529522e38f07c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '406'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/saved_filters/svd_fltr_16da937bc6e0cdb8
  response:
    body:
      string: '{"token":"svd_fltr_16da937bc6e0cdb8","title":"test_filter_vcr","cost_report_tokens":[],"filter":"costs.provider
        = ''aws''","created_at":"2026-02-08T18:31:53Z","created_by":"team_ef9127d498c66db2","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"eb8f362784adfe403414ad352eb18863"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '405'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/saved_filters/svd_fltr_16da937bc6e0cdb8
  response:
    body:
      string: '{"errors":["SavedFilter svd_fltr_16da937bc6e0cdb8 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '403'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
