interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_fe83d121633e35d4","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-03-23T19:20:38Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-12-01","end_date":"2026-03-21","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"3946f7b32e70d4636febc28f3dc00398"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '443'
      X-Rate-Limit-Reset:
      - '1774296912'
    status:
      code: 201
      message: Created
- request:
    body: '{"cost_report_token":"rprt_fe83d121633e35d4","workspace_token":"wrkspc_576fafc861f024a4","start_date":"2024-01-01","end_date":"2024-01-31","groupings":"service,provider,account_id","schema":"focus"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/costs/data_exports
  response:
    body:
      string: '202'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.vantage.sh/v2/data_exports/dta_xprt_112bebb20ad68fd0
      Retry-After:
      - '60'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '100'
      X-Rate-Limit-Reset:
      - '1774293699'
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/data_exports/dta_xprt_112bebb20ad68fd0
  response:
    body:
      string: '202'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.vantage.sh/v2/data_exports/dta_xprt_112bebb20ad68fd0
      Retry-After:
      - '60'
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '442'
      X-Rate-Limit-Reset:
      - '1774296912'
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/data_exports/dta_xprt_112bebb20ad68fd0
  response:
    body:
      string: '{"token":"dta_xprt_112bebb20ad68fd0","status":"completed","created_at":"2026-03-23T19:20:39Z","export_type":"cost_report","manifest":{"files":["https://s3.amazonaws.com/downloads.vantage.sh/019d1c24-61db-70fa-8edf-db5d845ef386/test_cost_report_vcr_2024-01-01_2024-01-31.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=ASIAZFRV7IUIWQ6MB5BZ%2F20260323%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20260323T192110Z\u0026X-Amz-Expires=86400\u0026X-Amz-Security-Token=IQoJb3JpZ2luX2VjELT%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIDzf0AMQkaVeNbHdZpG1VabTDzjK%2Fp6aYIJZdsgrY3xEAiAGGRLpDDf%2Bkb%2BwqsS6zHXPYILX%2FV%2BQ5Io1Mf3FRuAm8SqjAgh9EAIaDDYzMDM5OTY0OTA0MSIM%2BXRNSIb%2FVQ2NZsrbKoACvDROHoLwR4i8%2B6S49KgIV2BXznf3ZZOKhZRf%2B7RC62WwG%2BnxiRq639n%2B%2FE6aodkmJEI%2FIeGw%2Bf%2BG3cTZ0oBTReZtpwbRtJv4rDKf0u0r1Z35q8ak91fZUTKOh7xI09rCNJ3oPmTY%2Fkyk%2B8Gqvs2Rpr9RQMs8oO8pnqQpUXTOLj31AzQ4CeXDIPsQqX0UJvMlFlkQ4L4jp%2BRaMxSKqgJn1mdAH2KBhcxFhWrZTxp0%2BYEm1gR9gVuiWonTT%2FrrVsMpciIN6%2FLc5peBo09P3aAgGwyRZtWOCTsaOWZcjER%2FW%2FW%2BTPRjbZJ6bKDo7hCiHvV2s2s9UPmRoRvgb9Az0KOn%2BjCIyoTOBjqeAUXEoRBsEiCmLxOi06z%2BVu8BqD9f4e%2Fj9YNqL1hqKdYSy26I9zcTN2QtzeP5TesN4sjN10rRxOOIrwt22Za35jX26eHvTRN5NrnkwfpISHrIyeF1%2B%2Fkbhtn6WnbdGGzJ1hqrGR1IajoEXihW%2FdI6GtS66lZnw7tFoQdKg%2BokUyNRnTXzXACReRoHJArfIY4bbBDAgfvs7olbD8Q5JGKK\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=ebaabc511529b1fd6d507481eb581f4f70bcc5f9558a599ace010e7dd5712166"],"completed_at":"2026-03-23T19:21:10Z","valid_until":"2026-03-24T19:21:10Z"},"attributes":{"report_token":"rprt_fe83d121633e35d4","start_date":"2024-01-01","end_date":"2024-01-31","groupings":["service","provider","account_id"],"vql":null,"settings":null,"date_bin":null,"schema":1}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"d3a6f3683816d8ea6b9a04dd91e22eb4"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '441'
      X-Rate-Limit-Reset:
      - '1774296912'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_fe83d121633e35d4
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '440'
      X-Rate-Limit-Reset:
      - '1774296912'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_fe83d121633e35d4
  response:
    body:
      string: '{"errors":["CostReport rprt_fe83d121633e35d4 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1774297301'
    status:
      code: 404
      message: Not Found
version: 1
