interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_40efae0d68dcea65","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2026-02-08T18:32:07Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"d6fb03ef2d5dc2dd598606b80881b8b0"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '377'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"test_business_metric_vcr","cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_40efae0d68dcea65","label_filter":["env:prod"]}],"values":[{"date":"2026-02-08T11:32:08.027723-07:00","amount":100.0,"label":"baseline"}],"forecasted_values":[{"date":"2026-02-08T11:32:08.027741-07:00","amount":120.0,"label":"forecast"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/business_metrics
  response:
    body:
      string: '{"token":"bsnss_mtrc_cf59dd244c342c4a","title":"test_business_metric_vcr","created_by_token":null,"cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_40efae0d68dcea65","unit_scale":"per_unit","label_filter":["env:prod"]}],"import_type":null,"integration_token":""}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"540eb80cb20251833d8f8d97fce47ed3"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '376'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"updated_vcr_test_business_metric_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_cf59dd244c342c4a
  response:
    body:
      string: '{"token":"bsnss_mtrc_cf59dd244c342c4a","title":"updated_vcr_test_business_metric_vcr","created_by_token":null,"cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_40efae0d68dcea65","unit_scale":"per_unit","label_filter":["env:prod"]}],"import_type":null,"integration_token":""}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"cb013fa4687ad5ed12b9f1615c86b70d"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '375'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_cf59dd244c342c4a
  response:
    body:
      string: '{"errors":["Business Metric bsnss_mtrc_cf59dd244c342c4a not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '373'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_40efae0d68dcea65
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '372'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_40efae0d68dcea65
  response:
    body:
      string: '{"errors":["CostReport rprt_40efae0d68dcea65 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1770579130'
    status:
      code: 404
      message: Not Found
version: 1
