interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/tags?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/tags?page=1","first":"https://api.vantage.sh/v2/tags?page=1","next":null,"last":null,"prev":null},"tags":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"70a2387d4acb73fc7080b4dd9653edfd"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '252'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
