interactions:
- request:
    body: '{"title":"test_folder_vcr","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/folders
  response:
    body:
      string: '{"token":"fldr_e540761b36bf14bc","title":"test_folder_vcr","type":"CostFolder","parent_folder_token":null,"saved_filter_tokens":[],"created_at":"2026-03-24T16:56:12Z","updated_at":"2026-03-24T16:56:12Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"1af2ff830eedeef680b588ea2e4e2b1e"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '995'
      X-Rate-Limit-Reset:
      - '1774374970'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"updated_vcr_test_folder_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/folders/fldr_e540761b36bf14bc
  response:
    body:
      string: '{"token":"fldr_e540761b36bf14bc","title":"updated_vcr_test_folder_vcr","type":"CostFolder","parent_folder_token":null,"saved_filter_tokens":[],"created_at":"2026-03-24T16:56:12Z","updated_at":"2026-03-24T16:56:13Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6bc7cb8bf62b332cc92b9c9681a1847f"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '994'
      X-Rate-Limit-Reset:
      - '1774374970'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/folders/fldr_e540761b36bf14bc
  response:
    body:
      string: '{"errors":["Folder fldr_e540761b36bf14bc not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '992'
      X-Rate-Limit-Reset:
      - '1774374970'
    status:
      code: 404
      message: Not Found
version: 1
