interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/recommendations?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/recommendations?page=1","first":"https://api.vantage.sh/v2/recommendations?page=1","next":null,"last":null,"prev":null},"recommendations":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"82a3f61c6baaf0249c7a2e7308d72957"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '263'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
