interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_ac662b6e4405e4ca","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-07-06T16:38:59Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-04-01","end_date":"2026-07-04","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"ef875ff31f1d3d46eb95e6fc16e61a97"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '1000'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"test_business_metric_vcr","cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_ac662b6e4405e4ca","label_filter":["env:prod"]}],"values":[{"date":"2026-07-06T09:38:59.415996-07:00","amount":100.0,"label":"baseline"}],"forecasted_values":[{"date":"2026-07-06T09:38:59.416087-07:00","amount":120.0,"label":"forecast"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/business_metrics
  response:
    body:
      string: '{"token":"bsnss_mtrc_34661f7352ca5cea","title":"test_business_metric_vcr","created_by_token":null,"cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_ac662b6e4405e4ca","unit_scale":"per_unit","calculation_type":"unit_cost","label_filter":["env:prod"]}],"import_type":"csv","integration_token":"accss_crdntl_67986d707b837804"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"638c60b525a59f62ff624072c4a89c53"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '999'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics?page=1
  response:
    body:
      string: '{"business_metrics":[{"token":"bsnss_mtrc_13f83c19918b9990","title":"ResourcePrefix.BUSINESS_METRIC_20260206_165850_795231","created_by_token":null,"cost_report_tokens_with_metadata":[],"import_type":"csv","integration_token":"accss_crdntl_09447f04234dc52a"},{"token":"bsnss_mtrc_60ebe7d4f147106e","title":"ResourcePrefix.BUSINESS_METRIC_20260206_165852_077099","created_by_token":null,"cost_report_tokens_with_metadata":[],"import_type":"csv","integration_token":"accss_crdntl_58f457a058fb77c1"},{"token":"bsnss_mtrc_34[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_34661f7352ca5cea
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '997'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_34661f7352ca5cea
  response:
    body:
      string: '{"errors":["Business Metric bsnss_mtrc_34661f7352ca5cea not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '996'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_ac662b6e4405e4ca
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '995'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_ac662b6e4405e4ca
  response:
    body:
      string: '{"errors":["CostReport rprt_ac662b6e4405e4ca not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1783359544'
    status:
      code: 404
      message: Not Found
version: 1
