interactions:
- request:
    body: '{"workspace_token":"wrkspc_576fafc861f024a4","title":"test_fin_commitment_report_vcr","date_interval":"last_3_months"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/financial_commitment_reports
  response:
    body:
      string: '{"token":"fncl_cmnt_rprt_dd7cdb5bb6715c8b","title":"test_fin_commitment_report_vcr","default":false,"created_at":"2026-02-08T18:32:43Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","date_bucket":"month","groupings":"cost_type","on_demand_costs_scope":"discountable","filter":"(financial_commitments.provider
        = ''aws'')"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"4c27f5b8723e12ba3936e05112823612"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '297'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/financial_commitment_reports/fncl_cmnt_rprt_dd7cdb5bb6715c8b
  response:
    body:
      string: '{"token":"fncl_cmnt_rprt_dd7cdb5bb6715c8b","title":"test_fin_commitment_report_vcr","default":false,"created_at":"2026-02-08T18:32:43Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","date_bucket":"month","groupings":"cost_type","on_demand_costs_scope":"discountable","filter":"(financial_commitments.provider
        = ''aws'')"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"0aa5c8db7123776527d3fa2625a25899"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '296'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/financial_commitment_reports/fncl_cmnt_rprt_dd7cdb5bb6715c8b
  response:
    body:
      string: '{"errors":["FinancialCommitmentReport fncl_cmnt_rprt_dd7cdb5bb6715c8b
        not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '294'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
