interactions:
- request:
    body: '{"workspace_token":"wrkspc_576fafc861f024a4","title":"test_k8s_efficiency_report_vcr","date_interval":"this_month"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/kubernetes_efficiency_reports
  response:
    body:
      string: '{"token":"kbnts_eff_rprt_4f2737fec20a66c8","title":"test_k8s_efficiency_report_vcr","default":false,"created_at":"2026-02-08T18:32:48Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"start_date":"2026-02-01","end_date":"2026-02-28","date_interval":"this_month","date_bucket":"day","aggregated_by":"idle_cost","groupings":"cluster_id","filter":null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"bef6382bf5caf8477a6c41484c3c0103"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '284'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"updated_vcr_test_k8s_efficiency_report_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/kubernetes_efficiency_reports/kbnts_eff_rprt_4f2737fec20a66c8
  response:
    body:
      string: '{"token":"kbnts_eff_rprt_4f2737fec20a66c8","title":"updated_vcr_test_k8s_efficiency_report_vcr","default":false,"created_at":"2026-02-08T18:32:48Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"start_date":"2026-02-01","end_date":"2026-02-28","date_interval":"this_month","date_bucket":"day","aggregated_by":"idle_cost","groupings":"cluster_id","filter":null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"0ed13fd8d5eed426e9dc45fb2e4ab924"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '283'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/kubernetes_efficiency_reports/kbnts_eff_rprt_4f2737fec20a66c8
  response:
    body:
      string: '{"errors":["KubernetesEfficiencyReport kbnts_eff_rprt_4f2737fec20a66c8
        not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '281'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
