interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_14cd31cad0d86805","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2026-02-08T18:33:08Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"ff84681aa8fc68c8185b9b1fc6aa058c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '243'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"updated_vcr_test_cost_report_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/cost_reports/rprt_14cd31cad0d86805
  response:
    body:
      string: '{"token":"rprt_14cd31cad0d86805","title":"updated_vcr_test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true},"created_at":"2026-02-08T18:33:08Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2025-11-01","end_date":"2026-02-06","date_interval":"last_3_months","chart_type":"line","date_bin":"cumulative","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"b4c3f5024b41eacfd396fa7269e2bda3"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '242'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/audit_logs?object_token=rprt_14cd31cad0d86805&page=1
  response:
    body:
      string: "{\"links\":{\"self\":\"https://api.vantage.sh/v2/audit_logs?object_token=rprt_14cd31cad0d86805\\u0026page=1\",\"first\":\"https://api.vantage.sh/v2/audit_logs?object_token=rprt_14cd31cad0d86805\\u0026page=1\",\"next\":null,\"last\":\"https://api.vantage.sh/v2/audit_logs?object_token=rprt_14cd31cad0d86805\\u0026page=1\",\"prev\":null},\"audit_logs\":[{\"token\":\"adt_lg_453c1c4275a19390\",\"object_token\":\"rprt_14cd31cad0d86805\",\"object_type\":\"Report\",\"object_title\":\"updated_vcr_test_cost_report_vcr\",\"event\":\"record_updated\",\"source\":\"api\",\"user\":\"Krunal
        Amin\",\"workspace_title\":\"Default\",\"workspace_token\":\"wrkspc_576fafc861f024a4\",\"created_at\":\"2026-02-08T18:33:09Z\",\"changed_values\":{\"Title\":[\"test_cost_report_vcr\",\"updated_vcr_test_cost_report_vcr\"],\"Date
        Bucket\":[\"month\",\"cumulative\"]},\"unchanged_values\":{\"Chart Type\":\"line\",\"Token\":\"rprt_14cd31cad0d86805\",\"Default\":\"false\",\"Refreshed
        At\":\"\u2013\",\"Settings\":\"{\\\"include_credits\\\":true,\\\"include_refunds\\\":true,\\\"include_discounts\\\":true,\\\"include_tax\\\":true,\\\"unallocated\\\":false,\\\"amortize\\\":true,\\\"show_previous_period\\\":true,\\\"aggregate_by\\\":\\\"cost\\\"}\",\"Generated
        At\":\"\u2013\",\"Folder Id\":\"\u2013\",\"Slug\":\"\u2013\",\"Type\":\"Cost
        Report\",\"Start Date\":\"\u2013\",\"End Date\":\"\u2013\",\"Grouping\":\"\u2013\",\"Date
        Interval\":\"last_3_months\",\"Groupings\":\"[\\\"provider\\\", \\\"service\\\"]\",\"Table
        Layout\":\"0\",\"Change Unit\":\"0\",\"Deleted At\":\"\u2013\",\"Previous
        Period Start Date\":\"\u2013\",\"Previous Period End Date\":\"\u2013\",\"Created
        By Type\":\"Team\",\"Chart Settings\":\"{\\\"x_axis_dimension\\\":[\\\"date\\\"],\\\"y_axis_dimension\\\":\\\"cost\\\"}\",\"Created
        By\":\"Krunal Amin\",\"Filter\":\"\u2013\",\"Business Metrics\":\"\u2013\",\"Workspace\":\"Default\"}},{\"token\":\"adt_lg_3bc3ee370d473c67\",\"object_token\":\"rprt_14cd31cad0d86805\",\"object_type\":\"Report\",\"object_title\":\"updated_vcr_test_cost_report_vcr\",\"event\":\"record_created\",\"source\":\"api\",\"user\":\"Krunal
        Amin\",\"workspace_title\":\"Default\",\"workspace_token\":\"wrkspc_576fafc861f024a4\",\"created_at\":\"2026-02-08T18:33:08Z\",\"changed_values\":{\"Title\":[\"\u2013\",\"test_cost_report_vcr\"],\"Settings\":[\"\u2013\",\"{\\\"include_credits\\\":true,\\\"include_refunds\\\":true,\\\"include_discounts\\\":true,\\\"include_tax\\\":true,\\\"unallocated\\\":false,\\\"amortize\\\":true,\\\"show_previous_period\\\":true,\\\"aggregate_by\\\":\\\"cost\\\"}\"],\"Date
        Bucket\":[\"\u2013\",\"month\"],\"Date Interval\":[\"\u2013\",\"last_3_months\"],\"Groupings\":[\"\u2013\",\"[\\\"provider\\\",
        \\\"service\\\"]\"],\"Token\":[\"\u2013\",\"rprt_14cd31cad0d86805\"],\"Created
        By Type\":[\"\u2013\",\"Team\"],\"Created By\":[null,\"Krunal Amin\"],\"Workspace\":[null,\"Default\"]},\"unchanged_values\":{\"Filter\":\"\u2013\",\"Business
        Metrics\":\"\u2013\"}}]}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"9395805e085b7e34b0de3efdbdd588ad"
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '9989'
      X-Rate-Limit-Reset:
      - '1770576596'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/audit_logs/adt_lg_453c1c4275a19390
  response:
    body:
      string: "{\"token\":\"adt_lg_453c1c4275a19390\",\"object_token\":\"rprt_14cd31cad0d86805\",\"object_type\":\"Report\",\"object_title\":\"updated_vcr_test_cost_report_vcr\",\"event\":\"record_updated\",\"source\":\"api\",\"user\":\"Krunal
        Amin\",\"workspace_title\":\"Default\",\"workspace_token\"[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_14cd31cad0d86805
  response:
    body:
      string: '{"errors":["CostReport rprt_14cd31cad0d86805 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1770579190'
    status:
      code: 404
      message: Not Found
version: 1
