interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_edfe7c02bbde3062","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-07-06T16:39:04Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-04-01","end_date":"2026-07-04","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"60a4751acc46320b4bdeecb8dd7a731c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '994'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"test_business_metric_vcr","cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_edfe7c02bbde3062","label_filter":["env:prod"]}],"values":[{"date":"2026-07-06T09:39:05.234347-07:00","amount":100.0,"label":"baseline"}],"forecasted_values":[{"date":"2026-07-06T09:39:05.234375-07:00","amount":120.0,"label":"forecast"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/business_metrics
  response:
    body:
      string: '{"token":"bsnss_mtrc_e93861d338094317","title":"test_business_metric_vcr","created_by_token":null,"cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_edfe7c02bbde3062","unit_scale":"per_unit","calculation_type":"unit_cost","label_filter":["env:prod"]}],"import_type":"csv","integration_token":"accss_crdntl_133080f54d255091"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"f7d32748444abd89905be5fce59bf214"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '993'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_e93861d338094317
  response:
    body:
      string: '{"token":"bsnss_mtrc_e93861d338094317","title":"test_business_metric_vcr","created_by_token":null,"cost_report_tokens_with_metadata":[{"cost_report_token":"rprt_edfe7c02bbde3062","unit_scale":"per_unit","calculation_type":"unit_cost","label_filter":["env:prod"]}],"import_type":"csv","integration_token":"accss_crdntl_133080f54d255091"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"f7d32748444abd89905be5fce59bf214"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '992'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/business_metrics/bsnss_mtrc_e93861d338094317
  response:
    body:
      string: '{"errors":["Business Metric bsnss_mtrc_e93861d338094317 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '990'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_edfe7c02bbde3062
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '989'
      X-Rate-Limit-Reset:
      - '1783359538'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_edfe7c02bbde3062
  response:
    body:
      string: '{"errors":["CostReport rprt_edfe7c02bbde3062 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1783359549'
    status:
      code: 404
      message: Not Found
version: 1
