interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/saved_filters?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/saved_filters?page=1","first":"https://api.vantage.sh/v2/saved_filters?page=1","next":null,"last":null,"prev":null},"saved_filters":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"5e4e623fb47bd2eea0789a89000ef9bc"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '402'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
