interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/financial_commitments?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/financial_commitments?page=1","first":"https://api.vantage.sh/v2/financial_commitments?page=1","next":null,"last":null,"prev":null},"financial_commitments":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"676132e540f805e49aa6b1a44e546083"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
