interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/kubernetes_efficiency_reports?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/kubernetes_efficiency_reports?page=1","first":"https://api.vantage.sh/v2/kubernetes_efficiency_reports?page=1","next":null,"last":null,"prev":null},"kubernetes_efficiency_reports":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"cc3b922e4578cf9f1c8c1197bc9ce5db"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '289'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
