interactions:
- request:
    body: '{"title":"test_folder_vcr","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/folders
  response:
    body:
      string: '{"token":"fldr_fa26b1163f2c7e5f","title":"test_folder_vcr","type":"CostFolder","parent_folder_token":null,"saved_filter_tokens":[],"created_at":"2026-03-24T16:56:10Z","updated_at":"2026-03-24T16:56:10Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"fb75029672103c9672ff976f3d198d6c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '1000'
      X-Rate-Limit-Reset:
      - '1774374970'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/folders/fldr_fa26b1163f2c7e5f
  response:
    body:
      string: '{"token":"fldr_fa26b1163f2c7e5f","title":"test_folder_vcr","type":"CostFolder","parent_folder_token":null,"saved_filter_tokens":[],"created_at":"2026-03-24T16:56:10Z","updated_at":"2026-03-24T16:56:10Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"fb75029672103c9672ff976f3d198d6c"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '999'
      X-Rate-Limit-Reset:
      - '1774374970'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/folders/fldr_fa26b1163f2c7e5f
  response:
    body:
      string: '{"errors":["Folder fldr_fa26b1163f2c7e5f not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '997'
      X-Rate-Limit-Reset:
      - '1774374970'
    status:
      code: 404
      message: Not Found
version: 1
