interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_5b569add40bbd1a4","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-09-30T23:06:58Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-06-01","end_date":"2026-09-28","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"95603aa00eef7448b713e3ee97794e7a"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '996'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 201
      message: Created
- request:
    body: '{"name":"test_budget_vcr","workspace_token":"wrkspc_576fafc861f024a4","cost_report_token":"rprt_5b569add40bbd1a4","periods":[{"start_at":"2026-09-30","end_at":"2026-09-30","amount":10000.0}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/budgets
  response:
    body:
      string: '{"token":"bdgt_74ccee720cd7a478","name":"test_budget_vcr","type":"cost","unit":null,"workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","cost_report_token":"rprt_5b569add40bbd1a4","created_at":"2026-09-30T23:06:59Z","budget_alert_tokens":[],"child_budget_tokens":[],"period_cadence":{"starts_at":"2026-09-30","interval_count":1,"interval_unit":"month"},"periods":[{"start_at":"2026-09-30","end_at":"2026-09-30","amount":"10000.0"}],"performance":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"26c15016e60ae060c156624dfcfea943"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '995'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budgets/bdgt_74ccee720cd7a478
  response:
    body:
      string: '{"token":"bdgt_74ccee720cd7a478","name":"test_budget_vcr","type":"cost","unit":null,"workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","cost_report_token":"rprt_5b569add40bbd1a4","created_at":"2026-09-30T23:06:59Z","budget_alert_tokens":[],"child_budget_tokens":[],"period_cadence":{"starts_at":"2026-09-30","interval_count":1,"interval_unit":"month"},"periods":[{"start_at":"2026-09-30","end_at":"2026-09-30","amount":"10000.0"}],"performance":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"26c15016e60ae060c156624dfcfea943"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '994'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budgets/bdgt_74ccee720cd7a478
  response:
    body:
      string: '{"errors":["Budget bdgt_74ccee720cd7a478 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '992'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_5b569add40bbd1a4
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '991'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_5b569add40bbd1a4
  response:
    body:
      string: '{"errors":["CostReport rprt_5b569add40bbd1a4 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1790813221'
    status:
      code: 404
      message: Not Found
version: 1
