interactions:
- request:
    body: '{"key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-02-08","collapsed_tag_keys":[{"key":"team","providers":["aws"]}],"values":[{"filter":"costs.provider
      = ''aws''","name":"Primary"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/virtual_tag_configs
  response:
    body:
      string: '{"token":"vtag_a1b2c3d4e5f60001","created_by_token":"team_ef9127d498c66db2","key":"test_vtag_vcr","overridable":false,"backfill_until":"2026-02-01","collapsed_tag_keys":[{"key":"team","providers":["aws"]}],"values":[{"filter":"costs.provider
        = ''aws''","name":"Primary"}]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '999'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"key":"updated_vcr_test_vtag_vcr","values":[{"filter":"costs.provider
      = ''aws'' AND costs.service = ''Amazon Simple Storage Service''","name":"updated_vcr_virtual_tag_value"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_a1b2c3d4e5f60001
  response:
    body:
      string: '{"request_id":"550e8400-e29b-41d4-a716-446655440000","status_url":"/v2/virtual_tag_configs/async/550e8400-e29b-41d4-a716-446655440000"}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '998'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/virtual_tag_configs/vtag_a1b2c3d4e5f60001
  response:
    body:
      string: '{"errors":["VirtualTagConfig vtag_a1b2c3d4e5f60001 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '996'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
