interactions:
- request:
    body: '{"workspace_token":"wrkspc_576fafc861f024a4","title":"test_resource_report_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/resource_reports
  response:
    body:
      string: '{"token":"prvdr_rsrc_rprt_315feb6904903867","title":"test_resource_report_vcr","filter":null,"created_at":"2026-02-08T18:32:59Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","columns":["provider","label","accrued_costs","resource","type","region","account"]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"f1ce6d10aeffe4c88fac7fabb3041fdc"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '260'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/resource_reports/prvdr_rsrc_rprt_315feb6904903867
  response:
    body:
      string: '{"token":"prvdr_rsrc_rprt_315feb6904903867","title":"test_resource_report_vcr","filter":null,"created_at":"2026-02-08T18:32:59Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","columns":["provider","label","accrued_costs","resource","type","region","account"]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"f1ce6d10aeffe4c88fac7fabb3041fdc"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '259'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/resource_reports/prvdr_rsrc_rprt_315feb6904903867
  response:
    body:
      string: '{"errors":["ResourceReport prvdr_rsrc_rprt_315feb6904903867 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '257'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
