interactions:
- request:
    body: '{"title":"test_folder_vcr","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/folders
  response:
    body:
      string: '{"token":"fldr_dab596a35da38fb9","title":"test_folder_vcr","parent_folder_token":null,"saved_filter_tokens":[],"created_at":"2026-02-08T18:30:45Z","updated_at":"2026-02-08T18:30:45Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"7f53feaec1d9dc8c03cef83e541b9ab3"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '419'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 201
      message: Created
- request:
    body: '{"title":"updated_vcr_test_folder_vcr"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vantage.sh/v2/folders/fldr_dab596a35da38fb9
  response:
    body:
      string: '{"token":"fldr_dab596a35da38fb9","title":"updated_vcr_test_folder_vcr","parent_folder_token":null,"saved_filter_tokens":[],"created_at":"2026-02-08T18:30:45Z","updated_at":"2026-02-08T18:30:45Z","workspace_token":"wrkspc_576fafc861f024a4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"0800522f38ca26fcaea62ac5bd54c6db"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '418'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/folders/fldr_dab596a35da38fb9
  response:
    body:
      string: '{"errors":["Folder fldr_dab596a35da38fb9 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '416'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 404
      message: Not Found
version: 1
