interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/recommendations?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/recommendations?page=1","first":"https://api.vantage.sh/v2/recommendations?page=1","next":null,"last":null,"prev":null},"recommendations":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"1d0a05ed5f086b8bfac9c985e486b6c4"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '992'
      X-Rate-Limit-Reset:
      - '1773342605'
    status:
      code: 200
      message: OK
version: 1
