interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/network_flow_reports?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/network_flow_reports?page=1","first":"https://api.vantage.sh/v2/network_flow_reports?page=1","next":null,"last":null,"prev":null},"network_flow_reports":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6ddca9b79b2e4f349ea83a001f4f0443"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '280'
      X-Rate-Limit-Reset:
      - '1770576040'
    status:
      code: 200
      message: OK
version: 1
