interactions:
- request:
    body: '{"title":"test_cost_report_vcr","workspace_token":"wrkspc_576fafc861f024a4","groupings":"provider,service","filter":"costs.provider
      = ''aws''","settings":{"include_credits":true,"include_refunds":true},"date_interval":"last_3_months","date_bin":"month","chart_settings":{"x_axis_dimension":["date"],"y_axis_dimension":"cost"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/cost_reports
  response:
    body:
      string: '{"token":"rprt_64586982a95245a8","title":"test_cost_report_vcr","folder_token":null,"saved_filter_tokens":[],"business_metric_tokens_with_metadata":[],"default_forecast":{"kind":"baseline"},"filter":"costs.provider
        = ''aws''","groupings":"provider,service","settings":{"include_credits":true,"include_refunds":true,"include_discounts":true,"include_tax":true,"amortize":true,"unallocated":false,"aggregate_by":"cost","show_previous_period":true,"complete_period":false},"created_at":"2026-09-30T23:07:28Z","workspace_token":"wrkspc_576fafc861f024a4","previous_period_start_date":null,"previous_period_end_date":null,"start_date":"2026-06-01","end_date":"2026-09-28","date_interval":"last_3_months","chart_type":"line","date_bin":"month","chart_settings":{"y_axis_dimension":"cost","x_axis_dimension":["date"]}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"bf1252f1824393e86316f204d3d744f7"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '978'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 201
      message: Created
- request:
    body: '{"name":"test_budget_vcr","workspace_token":"wrkspc_576fafc861f024a4","cost_report_token":"rprt_64586982a95245a8","periods":[{"start_at":"2026-09-30","end_at":"2026-09-30","amount":10000.0}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/budgets
  response:
    body:
      string: '{"token":"bdgt_e6490db09a0ce2d7","name":"test_budget_vcr","type":"cost","unit":null,"workspace_token":"wrkspc_576fafc861f024a4","user_token":null,"created_by_token":"team_ef9127d498c66db2","cost_report_token":"rprt_64586982a95245a8","created_at":"2026-09-30T23:07:29Z","budget_alert_tokens":[],"child_budget_tokens":[],"period_cadence":{"starts_at":"2026-09-30","interval_count":1,"interval_unit":"month"},"periods":[{"start_at":"2026-09-30","end_at":"2026-09-30","amount":"10000.0"}],"performance":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"86470bd880a7cfec9119f471b3332508"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '977'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/users?page=1
  response:
    body:
      string: '{"links":{"self":"https://api.vantage.sh/v2/users?page=1","first":"https://api.vantage.sh/v2/users?page=1","next":null,"last":"https://api.vantage.sh/v2/users?page=1","prev":null},"users":[{"token":"usr_3b8e93c36c581811","name":"Block
        Open Source","email":"blockopensource@gmail.com","role":"Owner","default_dashboard_token":null,"last_seen_at":"2025-11-25"}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"d976180156cdb67565684f6fdf7023ee"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '976'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 200
      message: OK
- request:
    body: '{"budget_tokens":["bdgt_e6490db09a0ce2d7"],"threshold":50,"workspace_token":"wrkspc_576fafc861f024a4","user_tokens":["usr_3b8e93c36c581811"],"duration_in_days":"30"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vantage.sh/v2/budget_alerts
  response:
    body:
      string: '{"token":"bdgt_alrt_fe490971abc01d4a","budget_tokens":["bdgt_e6490db09a0ce2d7"],"created_at":"2026-09-30T23:07:31Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":"team_ef9127d498c66db2","user_tokens":["usr_3b8e93c36c581811"],"recipient_emails":["blockopensource@gmail.com"],"duration_in_days":30,"threshold":50,"period_to_track":"start_of_the_month","integration_provider":null,"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"cb23f45104d10bbd113c016511a80b66"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '975'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budget_alerts/bdgt_alrt_fe490971abc01d4a
  response:
    body:
      string: '{"token":"bdgt_alrt_fe490971abc01d4a","budget_tokens":["bdgt_e6490db09a0ce2d7"],"created_at":"2026-09-30T23:07:31Z","workspace_token":"wrkspc_576fafc861f024a4","user_token":"team_ef9127d498c66db2","user_tokens":["usr_3b8e93c36c581811"],"recipient_emails":["blockopensource@gmail.com"],"duration_in_days":30,"threshold":50,"period_to_track":"start_of_the_month","integration_provider":null,"recipient_channels":[]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"dbcbaebde9ff93c195eab86ea08836cf"
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '974'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/budget_alerts/bdgt_alrt_fe490971abc01d4a
  response:
    body:
      string: '{"errors":["Budget Alert bdgt_alrt_fe490971abc01d4a not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '972'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/budgets/bdgt_e6490db09a0ce2d7
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '971'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.vantage.sh/v2/cost_reports/rprt_64586982a95245a8
  response:
    body:
      string: ''
    headers:
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '969'
      X-Rate-Limit-Reset:
      - '1790812984'
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.vantage.sh/v2/cost_reports/rprt_64586982a95245a8
  response:
    body:
      string: '{"errors":["CostReport rprt_64586982a95245a8 not found."]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10000'
      X-Rate-Limit-Remaining:
      - '10000'
      X-Rate-Limit-Reset:
      - '1790813255'
    status:
      code: 404
      message: Not Found
version: 1
